# Python files #
################
__pycache__

# OS-specific temporary and backup files #
##########################################
.DS_Store

# sphinx build directory #
##########################
docs/build

# Pre-computed Simulation data  #
#################################
fds_data/


