repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff
        alias: ruff-include-sorting
        name: Check include sorting (ruff)
        args: ['check', '--select', 'I', '--fix', '.']
      - id: ruff-format
        name: Check formatting (ruff)
        args: ['.']
      - id: ruff
        alias: ruff-linting
        name: Linting (ruff)
        files: ^fdsvismap/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        name: Check type hints (mypy)
        args:
          - --disallow-untyped-defs
          - --ignore-missing-imports
          - --no-warn-return-any
        additional_dependencies: [
            "numpy~=2.1",
            "pandas~=2.2.3",
            "scipy~=1.14",
            "matplotlib~=3.9",
            "scikit-image",
            "fdsreader"
        ]
        exclude: "(^docs/|^scripts/|^tests/)"
